title 404页面未找到

<!-- 公共样式，js引入 -->
include ../common/common.pug

link(rel="stylesheet",href="stylesheets/public_view/index.css")
link(rel="stylesheet",href="stylesheets/public_view/404.css")

include ../common/headerTpl.pug

.content
    a.no404(href="/")
        
