title 服务器被外星人占领了，正在激烈交战中…

<!-- 公共样式，js引入 -->
include ../common/common.pug

link(rel="stylesheet",href="stylesheets/public_view/index.css")
link(rel="stylesheet",href="stylesheets/public_view/404.css")
style.
    body{
        background:none;
    }

include ../common/headerTpl.pug

.content
    a.no404.no500 服务器被外星人占领了，正在激烈交战中…
        
