title 话题小巷 首页

<!-- 公共样式，js引入 -->
include ../common/common.pug

link(rel="stylesheet",href="stylesheets/public_view/index.css")

script(src="/javascripts/logic/public_view/showhuati_list.js")

include ../common/headerTpl.pug

.content
    .center#huati_list_view
        
