title 用户登陆

<!-- 公共样式，js引入 -->
include ../common/common.pug

<!-- 判断是否已登陆 -->
script(src="javascripts/logic/common/nologinyes.js")
link(rel="stylesheet",href="stylesheets/public_view/loginRegister.css")
link(rel="stylesheet",href="stylesheets/public_view/login.css")

include ../common/headerTpl.pug

section.content_new.bg1
  <!-- 用户登陆 -->
  .login
    .line1
      .lineText.left 用户名
      .lineContent.left#username
        input.ipt1(id="uname",type="text", placeholder="请输入用户名",autofocus)
    .line1
      .lineText.lineTextLetter.left 密&nbsp;&nbsp;&nbsp;码
      .lineContent.left#password
        input.ipt1(id="upsw",type="password", placeholder="请输入密码")
    .line1
      .lineText.left 验证码
      .lineContent.left#code
        input.ipt1.codeIpt1.left(id="ucode",type="text",placeholder="请输入验证码")
        img.yzm.yzmReset.left(src="/api/code", alt="", title="看不清可单击图片刷新")
        .yzmBtn.yzmReset.left 换一换
    .line1.line1_h
      .loginBtn1 登陆
    .formtip(text="formTextError",id="formParentId")

script(src="javascripts/logic/public_view/login.js")
