@charset "UTF-8";

/* 全局头部 */
.reward, .reward_title, .reward_bar {
    width: 100%;
    overflow: hidden;
    text-align: center;
}

.reward {
    width: 100%;
    background: white;
    margin: 30px 0;
    border-radius: 6px;
    padding: 15px 0 30px 0;
}

.reward_title {
    line-height: 60px;
    font-size: 24px;
    color: #a5a3a3;
}

.reward_btn {
    width: 100px;
    height: 100px;
    border-radius: 50px;
    background: #fec22c;
    color: white;
    line-height: 100px;
    font-size: 38px;
    margin: 0 auto;
    cursor: pointer;
}